@charset "UTF-8";

:root {
    --primary: #191919;
    --red: #DC3545;
    --light: #FDFDFD;
    --white: #FFFFFF;
    --grey: #464646;
    --grey-dark: #272727;
}

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a {
    color: inherit;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-size: 10px;
    font-family: "Manrope";
    color: var(--primary);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "Manrope";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    scrollbar-gutter: stable;
    background: var(--light);
}

body.lock {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

@media (max-width: 1355px) {
    body {
        font-size: 9px;
    }
}

@media (max-width: 1279.98px) {
    body {
        font-size: 8.2px;
    }
}

@media (max-width: 991.98px) {
    body {
        font-size: 8px;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrapper>main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.wrapper.loaded .header {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.container {
    max-width: 1355px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 15px;
}

.py-140 {
    padding: 14em 0;
}

/* buttons */
button svg {
    width: 18px;
    height: 18px;
}

.button-red {
    color: var(--white);
    background: var(--red);
    border: 2px solid var(--red);
    font-weight: 500;
    font-size: clamp(13px, 1.6em, 16px);
    padding: 0.8em 1em;
    border-radius: 4em;
    width: fit-content;
    transition: .5s;
}

.button-red:hover {
    background: var(--white);
    color: var(--red);
}

.button-red.active:hover {
    background: var(--red);
    color: var(--white);
}

.button-transparent {
    color: var(--red);
    background: transparent;
    border: 2px solid var(--red);
    font-weight: 500;
    font-size: clamp(13px, 1.6em, 16px);
    padding: 0.8em 1em;
    border-radius: 4em;
    width: fit-content;
    transition: .5s;
}

.button-transparent:hover {
    background: var(--red);
    color: var(--white);
}

.button-transparent-arrow {
    width: fit-content;
    background: transparent;
    color: var(--red);
    border: 2px solid var(--red);
    font-size: clamp(13px, 1.6em, 16px);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding: 0.8em 1.2em;
    border-radius: 3em;
    transition: .5s;
}

.button-transparent-arrow:hover {
    color: var(--white);
    background: var(--red);
}

.button-transparent-arrow:hover .icon-survey {
    transform: translateY(3px);
}

.icon,
.icon-survey {
    transition: transform 0.3s ease;
}

.icon {
    width: 18px;
    height: 18px;
}

.button-transparent-arrow:hover .icon svg path {
    stroke: var(--white);
}

.button-red-arrow {
    width: fit-content;
    background: var(--red);
    border: 2px solid var(--red);
    color: var(--white);
    font-size: clamp(13px, 1.6em, 16px);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.8em;
    padding: 0.8em 1.2em;
    border-radius: 3em;
    transition: .5s;
}

.button-red-arrow:hover {
    background: var(--white);
    color: var(--red);
    border: 2px solid var(--red);
}

.button-red-arrow:hover .icon svg path {
    stroke: var(--red);
}

.button-red-arrow:hover .icon-arrow,
.button-white-arrow:hover .icon-arrow,
.button-transparent-arrow:hover .icon-arrow {
    transform: translateX(6px);
}

.button-white-arrow {
    width: fit-content;
    background: var(--white);
    border: 2px solid var(--red);
    color: var(--red);
    font-size: clamp(13px, 1.6em, 16px);
    font-weight: 500;
    display: flex;
    gap: 0.8em;
    padding: 0.8em 1.2em;
    border-radius: 3em;
    transition: .5s;
}

.button-white-arrow:hover {
    background: var(--red);
    color: var(--white);
    border: 2px solid var(--white);
}

.button-white-arrow:hover .icon svg path {
    stroke: var(--white);
}

/* buttons end */

/* input */
.input-transparent {
    background: transparent;
    color: var(--primary);
    font-size: 1.8em;
    border: 2px solid var(--red);
    border-radius: 2.5em;
    padding: .7em 1.1em;
    max-width: 30em;
    width: 100%;
}

/* input end */

/* select */

.select-transparent {
    border-radius: 4em;
    border: 2px solid var(--red);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 2;
    color: var(--red);
}

.choices__inner {
    padding: 0.8em 1em !important;
    min-height: fit-content !important;
}

.choices__list--single,
.choices__inner .choices__item {
    padding: 0 !important;
}

.select-transparent option {
    background: #f2f2f2;
}

.select-transparent option:checked {
    background: #fde7e7 !important;
    color: var(--primary);
}

.select-arrow {
    position: absolute;
    right: 2em;
    top: 2.5em;
    z-index: 4;
}

.choices {
    margin: 0 !important;
    border: 2px solid var(--red);
    border-radius: 4em;
    background: transparent !important;
    z-index: 98;
    max-width: 130px;
}

.choices__list--dropdown {
    border: 2px solid var(--red) !important;
    border-radius: 1em !important;
}

.choices__list--dropdown .choices__item--selectable:hover {
    background-color: #e0e0e0 !important;
    color: #000 !important;
}

.choices__list--dropdown .choices__item--selectable {
    font-weight: 400 !important;
    line-height: 140% !important;
    padding-left: 1em !important;
}

.choices__list--dropdown .choices__item--selectable {
    font-size: clamp(13px, 1.6em, 16px) !important;
}

.choices::after {
    border: none !important;
    content: url("../images/main/select-arrow.svg") !important;
    right: 1em !important;
    top: 34% !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}

.choices.is-open::after {
    transform: rotate(180deg);
    margin: 0 !important;
}

.choices__inner .choices__item {
    width: 8em !important;
    padding: .1em 3em .1em 1em;
    font-weight: 400 !important;
    line-height: 140% !important;
}

.is-open .choices__inner {
    border-radius: 4em !important;
}

/* select end */

/* text */
h1 {
    font-size: 4.6em;
    font-weight: 500;
    line-height: 120%;
}

@media (max-width: 447px) {
    h1 {
        font-size: 3.6em;
    }
}

h2 {
    color: var(--grey);
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 120%;
}

.text-main {
    font-weight: 400;
    font-size: 2em;
    line-height: 140%;
}

.text-main span {
    color: var(--red);
}

.text-medium {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 140%;
}

.text-small {
    font-size: clamp(13px, 1.6em, 16px);
    font-weight: 400;
    line-height: 150%;
    color: var(--grey-dark);
}

.text-small span {
    color: var(--red);
}

.text-date {
    font-size: 1.4em;
    font-weight: 500;
    color: #A2A2A2;
}

/* text end */

/* header */
.header {
    padding: 4em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: var(--white);
    box-shadow: 0 4px 40px #0000002b;
}

@media (max-width: 991.98px) {

    .header .button-red,
    .header a {
        z-index: 20;
    }
}

@media (max-width: 991.98px) {
    .header::before {
        content: "";
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--white);
    }
}

.header.scrolled {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
}

.header__container {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991.98px) {
    .header__container {
        justify-content: start;
        gap: 10px;
    }
}

.header__logo img {
    position: relative;
    z-index: 10;
    width: 20em;
}

.header__body {
    display: flex;
    flex-direction: row;
    gap: 4.9em;
    align-items: center;
}

@media (max-width: 1050px) {
    .header__body {
        gap: 1.5em;
    }
}

@media (max-width: 991.98px) {
    .header__body {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 2;
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white);
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    .header__body.active {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@media (max-width: 730px) {
    .header__body {
        flex-direction: column;
        gap: 3em;
    }
}

.header__left {
    display: flex;
    gap: 4.9em;
}

@media (max-width: 1050px) {
    .header__left {
        gap: 1.5em;
    }
}

.header__list,
.header__links,
.header__buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}

.header__links .header__link {
    position: relative;
    z-index: 110;
}

.header__body .header__link {
    position: relative;
    z-index: 10;
}

@media (max-width: 1050px) {

    .header__list,
    .header__links,
    .header__buttons {
        gap: 1.5em;
    }
}

@media (max-width: 991.98px) {
    .header__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 3em;
    }
}

@media (max-width: 991.98px) {
    .header__links {
        margin-left: auto;
    }
}

@media (max-width: 730px) {
    .header__links {
        flex-direction: column;
        gap: 3em;
        margin: 0;
    }
}

.header__link {
    font-size: clamp(13px, 1.6em, 16px);
    font-weight: 500;
}

.header__link.active {
    color: var(--red);
}

@media (max-width: 991.98px) {
    .header__link {
        font-size: 2em;
    }

    .header__body .header__link {
        font-size: 2.5em;
    }
}

.link-red {
    color: var(--red);
}

.header__whatsapp svg {
    width: 3.4em;
}

.icon-menu {
    display: none;
}

@media (max-width: 991.98px) {
    .icon-menu {
        display: block;
        background-color: transparent;
        position: relative;
        width: 2.5em;
        height: 1em;
        cursor: pointer;
        z-index: 10;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: "";
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        left: 0;
        position: absolute;
        width: 100%;
        height: 0.3em;
        border-radius: 0.2em;
        background: var(--red);
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu.active::before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: calc(50% - 0.2em);
    }

    .icon-menu.active::after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: calc(50% - 0.2em);
    }
}

@media (max-width: 730px) {
    .icon-menu {
        margin-left: auto;
    }
}

/* header end */

/* banner */
.banner {
    position: relative;
    margin-top: 18em;
}

.banner__wrap {
    background: var(--white);
    border-radius: 2.5em;
    position: relative;
    z-index: 3;
    height: 36em;
    box-shadow: 0 4px 40px #00000015;
}

@media (max-width: 360px) {
    .banner__wrap {
        background: none;
        box-shadow: none;
    }
}

.banner__columns {
    display: flex;
    justify-content: space-between;
}

.banner__column {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    width: 56em;
    height: 100%;
    gap: 2em;
    padding: 5em 0 5.5em 4em;
    border-radius: 2.5em;
}

@media (max-width: 600px) {
    .banner__column {
        width: 100%;
        justify-content: center;
        gap: 2em;
        padding: 4em;
    }
}

@media (max-width: 370px) {
    .banner__column {
        padding: 3em;
    }
}

@media (max-width: 360px) {
    .banner__column {
        padding: 0;
    }
}

.banner__img img {
    border-radius: 2.5em;
    width: 75em;
    height: 36em;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@media (max-width: 1060px) {
    .banner__img img {
        width: 70em;
    }
}

@media (max-width: 1020px) {
    .banner__img img {
        width: 65em;
    }
}

@media (max-width: 900px) {
    .banner__img img {
        width: 60em;
    }
}

@media (max-width: 800px) {
    .banner__img img {
        width: 45em;
    }
}

@media (max-width: 700px) {
    .banner__img img {
        width: 40em;
    }
}

@media (max-width: 600px) {
    .banner__img img {
        display: none;
    }
}

.banner__rows {
    padding-top: 2em;
    display: flex;
    gap: 1.4em;
    justify-content: space-between;
}

@media (max-width: 890px) {
    .banner__rows {
        flex-wrap: wrap;
    }
}

@media (max-width: 460px) {
    .banner__rows {
        flex-direction: column;
    }
}

.banner__row {
    display: flex;
    align-items: center;
    padding: 1.5em;
    gap: 2.5em;
    background: var(--white);
    border-radius: 1em;
    width: 36.2em;
    height: 8.2em;
    box-shadow: 0 4px 40px #00000015;
    position: relative;
    z-index: 4;
    overflow: hidden;
}

@media (max-width: 890px) {
    .banner__row {
        width: 48%;
    }
}

@media (max-width: 460px) {
    .banner__row {
        width: 100%;
    }
}

.banner__row svg {
    width: 3.9em;
    min-width: 3em;
}

.banner__row::after {
    content: url('../images/main/options-fon.png');
    position: absolute;
    right: 0;
    z-index: 2;
}

/* banner end */

/* products */
.products__items {
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
    justify-content: space-between;
}

.products__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white);
    box-shadow: 0 4px 40px #00000015;
    border-radius: 2.5em;
    padding: 2em 2.5em;
    min-width: 400px;
    max-height: 430px;
    width: 43.2em;
}

.products__item:last-child {
    background: none;
    box-shadow: none;
    padding: 0;
}

@media (max-width: 768px) {
    .products__item:last-child {
        gap: 1em;
        flex-direction: row;
    }
}

@media (max-width: 710px) {
    .products__item:last-child {
        flex-direction: column;
    }
}

@media (max-width: 1250px) {
    .products__item {
        min-width: 370px;
    }
}

@media (max-width: 1160px) {
    .products__item {
        min-width: 320px;
    }
}

@media (max-width: 1113px) {
    .products__item {
        width: 49%;
    }
}

@media (max-width: 768px) {
    .products__item {
        width: 100%;
        min-width: fit-content;
    }
}

@media (max-width: 390px) {
    .products__item {
        max-height: none;
    }
}

.products__item .text-main {
    font-weight: 600;
}

.products__description {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 26.3em;
    max-width: 263px;
}

@media (max-width: 1113px) {
    .products__description {
        width: fit-content;
        max-width: none;
    }
}

@media (max-width: 390px) {
    .products__description {
        max-width: none;
        width: 100%;
    }
}

.products__content {
    display: flex;
    gap: 1em;
    align-items: center;
}

@media (max-width: 1113px) {
    .products__content {
        justify-content: space-between;
    }
}

@media (max-width: 390px) {
    .products__content {
        flex-direction: column;
    }
}

.products__buttons {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}


@media (max-width: 390px) {
    .products__buttons {
        flex-direction: column;
    }
}

.products__buttons .button-red-arrow,
.products__buttons .button-transparent-arrow {
    padding: .5em 1em;
    font-size: clamp(13px, 1.6em, 16px);
}

.products__info {
    height: 48%;
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.4em 1.4em;
    border-radius: 2.5em;
    overflow: hidden;
    box-shadow: 0 4px 40px #00000015;
}


@media (max-width: 1355px) {
    .products__info {
        padding: 4.4em 1em;
    }
}

@media (max-width: 1113px) {
    .products__info {
        padding: 4.4em 3em;
    }
}

@media (max-width: 801px) {
    .products__info {
        padding: 4.4em 1em;
    }
}

@media (max-width: 768px) {
    .products__info {
        width: 48%;
        height: 100%;
    }
}

@media (max-width: 710px) {
    .products__info {
        width: 100%;
        padding: 4.4em 2em;
    }
}

@media (max-width: 360px) {
    .products__info {
        display: none;
    }

    .products__info__buttons {
        display: flex !important;
        flex-direction: row;
        gap: 1em;
        padding-top: 2em;
    }
}

.products__info .text-main {
    text-transform: uppercase;
    max-width: 228px;
    font-size: 1.8em;
}

@media (max-width: 1250px) {
    .products__info .text-main {
        max-width: 180px;
    }
}

@media (max-width: 1113px) {
    .products__info .text-main {
        font-size: 2em;
    }
}

@media (max-width: 801px) {
    .products__info .text-main {
        font-size: 1.8em;
        max-width: 160px;
    }
}

@media (max-width: 710px) {
    .products__info .text-main {
        width: 50%;
        max-width: none;
    }
}

.products__info:first-child {
    background: var(--red);
}

.products__info:first-child .text-main {
    color: var(--white);
}

.products__info:last-child {
    background: var(--white);
}

.products__info:last-child .text-main {
    color: var(--red);
}

.products__info:last-child:after {
    content: url('../images/main/products-fon-red.png');
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.products__info:first-child:after {
    content: url('../images/main/products-fon-white.png');
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.products__info button {
    position: relative;
    z-index: 4;
}

.products__info .button-red {
    border: 2px solid var(--white);
    padding: .45em 1.3em;
}

.products__info .button-white-arrow {
    padding: .4em 1.155em;
}

.products__info__buttons {
    display: none;
}

/* products end */


/* objects */
.objects__title,
.blogs__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4em;
}

@media (max-width: 670px) {
    .objects__title {
        align-items: baseline;
        gap: 2em;
        flex-direction: column;
    }
}

.objects__action {
    display: flex;
    align-items: center;
    gap: 2em;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.custom-pagination {
    position: absolute;
    bottom: -4em !important;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.custom-pagination .swiper-pagination-bullet {
    min-width: 9px;
    min-height: 9px;
    width: fit-content !important;
    background-color: #e8e8e8;
    border-radius: 50%;
    opacity: 1;
    transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet.active {
    min-width: 40px;
    border-radius: 6px;
    background-color: #e8e8e8;
    position: relative;
    overflow: hidden;
}

.custom-pagination .swiper-pagination-bullet.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--red) !important;
    animation: progress 10000ms linear;
}

@keyframes progress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.blogs__item,
.objects__item {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    height: 100%;
    width: 100%;
}

.objects__item img,
.blogs__item img {
    border-radius: 2.5em;
    object-fit: cover;
    max-width: 100%;
    max-height: 25em;
    width: 100%;
}

.objects__content,
.blogs__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3em;
    background: var(--white);
    box-shadow: 0 4px 40px #00000015;
    border-radius: 2.5em;
    padding: 2.5em 3em;
    max-width: 100%;
    height: auto;
}

.objects__description {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.swiper-slide .objects__description {
    flex-grow: 1;
}

.objects__description .text-main {
    font-weight: 600;
}

.objects__place {
    display: flex;
    gap: .5em;
}

.swiper-slide .objects__place {
    margin-top: auto;
}

.objects__button,
.blogs__button {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.swiper-slide .objects__button,
.swiper-slide .blogs__button,
.objects__page .objects__button,
.objects__page .blogs__button {
    margin-top: auto;
}

.objects__button .button-transparent-arrow,
.blogs__button .button-transparent-arrow {
    padding: .5em 1em;
    font-size: clamp(13px, 1.6em, 16px);
}

/* objects end */

/* blog */
.swiper-slide {
    height: auto !important;
}

.blog__new {
    position: absolute;
    z-index: 4;
    background: var(--red);
    border-radius: 1.5em;
    padding: 1.1em 3.5em;
    top: -1.5em;
}

.blog__new svg {
    width: 2.6em;
    height: 3.4em;
}

.blogs__content .text-main {
    font-weight: 600;
}

/* blog end */

/* stages */
.stages__items {
    padding-top: 4em;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.stages__item {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    width: 100%;
    min-width: 21em;
    padding: 0 1em;
    position: relative;
    z-index: 3;
}

.stages__item::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 2px;
    top: 2em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: var(--red);
}

.stages__item__number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
    height: 4.2em;
    width: 8.5em;
    background: var(--white);
    border: 2px solid var(--red);
    border-radius: 2em;
    position: relative;
    z-index: 5;
}

/* stages end */

/* company */
.company__wrap {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 14em 0 8em 0;
}

.company__info {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.company__made {
    background: #AE323E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7.7em 4em;
    border-radius: 2.5em;
}

.company__made svg {
    width: 30em;
}

@media (max-width: 990px) {
    .company__info {
        justify-content: center;
        gap: 3em;
        flex-direction: column-reverse;
    }

    .company__made svg path {
        fill: var(--red);
    }

    .company__made {
        background: none;
        justify-content: center;
        padding: 0;
        border-radius: 0;
    }
}

.company__description {
    border-radius: 2.5em;
    background: var(--white);
    box-shadow: 0 4px 40px #00000015;
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.company__description__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 420px) {
    .company__description {
        padding: 2em;
    }

    .company__description__title {
        flex-direction: column;
        align-items: baseline;
        gap: 2em;
    }
}

.company__description__title .button-red-arrow {
    padding: .5em 1em;
}

.company__form {
    background: var(--white);
    border-radius: 2.5em;
    box-shadow: 0 4px 40px #00000015;
    padding: 6.5em 7em;
    position: relative;
    z-index: 4;
    overflow: hidden;
}

@media (max-width: 768px) {
    .company__form {
        padding: 4.5em 5em;
    }
}

@media (max-width: 425px) {
    .company__form {
        padding: 2.5em 3em;
    }
}

.form-fon {
    height: 100%;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    opacity: 0.8;
}

@media (max-width: 990px) {
    .form-fon {
        opacity: 0.3;
    }
}

@media (max-width: 520px) {
    .form-fon {
        opacity: 0;
    }
}

.company__form h2 {
    color: var(--primary);
    text-transform: none;
    position: relative;
    z-index: 4;
}

.form__inputs {
    display: flex;
    gap: 3.5em;
    padding: 3em 0 2.5em 0;
}

@media (max-width: 640px) {
    .form__inputs {
        gap: 2em;
    }
}

@media (max-width: 520px) {
    .form__inputs {
        flex-direction: column;
    }
}


.company__form .input-transparent,
.company__form .form__buttons {
    position: relative;
    z-index: 4;
}

.form__buttons {
    display: flex;
    align-items: center;
    gap: 3em;
}

@media (max-width: 640px) {
    .form__buttons {
        flex-direction: column-reverse;
        align-items: start;
        gap: 1.5em;
    }
}

.form__checkbox {
    display: flex;
    align-items: center;
    gap: .7em;
}

/* company end */


/* catalog */
.catalog {
    padding: 18em 0 8em 0;
}

.catalog h2 {
    padding: 1.2em 0;
}

.catalog__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.4em;
    align-items: stretch;
}

.catalog__item {
    display: flex;
    gap: .5em;
    justify-content: space-between;
    background: var(--white);
    border-radius: 2.5em;
    box-shadow: 0 4px 40px #0000002b;
    padding: 3.5em;
    overflow: hidden;
    flex: 0 1 calc(50% - 1.2em);
    max-width: calc(50% - 1.2em);
    min-width: 290px;
    box-sizing: border-box;
}

.catalog__item__img::after {
    content: '';
    position: absolute;
    background-image: url('../images/main/product-fon1.png');
    background-repeat: no-repeat;
    width: 58em;
    height: 53em;
    background-size: cover;
    z-index: 3;
    top: -15em;
    left: -22em;
}

.catalog__item__img {
    position: relative;
}

.catalog__item__img img {
    position: relative;
    z-index: 4;
    width: 15.4em;
    height: 26.5em;
}

.catalog__item__content {
    display: flex;
    flex-direction: column;
    gap: 4em;
    position: relative;
    z-index: 4;
    flex-grow: 1;
}

.catalog__item__description {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 374px;
    min-width: 310px;
}

.catalog__item__buttons {
    display: flex;
    gap: 2em;
    margin-top: auto;
}

.catalog__item__buttons button {
    padding: .5em 1em;
}

@media (max-width: 1050px) {
    .catalog__item__buttons {
        gap: 1em;
    }
}

@media (max-width: 1010px) {
    .catalog__item {
        padding: 2em 2.5em;
    }

    .catalog__items {
        gap: 1.2em;
    }

    .catalog__item__description {
        min-width: 260px;
    }

    .catalog__item__img img {
        width: 12em;
        height: 23em;
    }
}

@media (min-width: 950px) and (max-width: 1010px) {
    .catalog__item {
        min-height: 250px;
    }
}

@media (max-width: 950px) {
    .catalog__item__buttons {
        flex-direction: column;
    }
}

@media (max-width: 840px) {
    .catalog__item {
        flex: 1 1 100%;
        max-width: 100%;
        gap: 3em;
    }

    .catalog__item__description {
        max-width: 100%;
    }

    .catalog__item__buttons {
        flex-direction: row;
        gap: 2em;
    }
}

@media (max-width: 520px) {
    .catalog__item__buttons {
        flex-direction: column;
        gap: 1em;
    }
}

@media (max-width: 480px) {
    .catalog__item {
        flex-direction: column-reverse;
        align-items: center;
    }

    .catalog__item__img::after {
        display: none;
    }
}


@media (max-width: 460px) {
    .catalog__item__description {
        min-width: auto;
    }
}

.catalog__item .text-main {
    font-size: 2.4em;
    font-weight: 600;
}

.catalog__item .text-medium {
    color: var(--grey-dark);
}

/* catalog end */

/* objects__page */
.objects__page {
    padding: 18em 0 8em 0;
}

.objects__page h2 {
    padding: 1.2em 0;
}

.objects__buttons {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.objects__buttons button {
    padding: .5em 1em;
}

.objects__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4em;
    width: 100%;
}

.objects__items .objects__item,
.objects__items .blog__item {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 1.5em;
    height: 100%;
}

.objects__items .objects__item img,
.objects__items .blog__item img {
    border-radius: 2.5em;
    object-fit: cover;
    width: 100%;
    height: 25em;
}

.objects__items .objects__content,
.objects__items .blogs__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3em;
    background: var(--white);
    box-shadow: 0 4px 40px #00000015;
    border-radius: 2.5em;
    padding: 2.5em 3em;
}

@media (max-width: 1000px) {
    .objects__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .objects__items {
        grid-template-columns: 1fr;
    }

    .objects__items .objects__item img,
    .objects__items .blog__item img {
        height: 30em;
        max-height: 300px;
    }
}

/* objects__page end */

/* object */
.object,
.blog {
    padding: 18em 0 12em 0;
}

.object h2,
.blog h2 {
    padding: 1.2em 0;
}

.object__container,
.blog__container {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.object__content,
.blog__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3em;
    background: var(--white);
    border-radius: 2.5em;
    box-shadow: 0 4px 40px #0000002b;
    padding: 3.5em;
}

.object__specifications {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.object__specifications .text-medium {
    color: var(--red);
    text-transform: uppercase;
}

.object__specification {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
}

.object__content .text-date,
.blog__content .text-date {
    align-self: flex-end;
}

.blog__content .text-date {
    margin-top: auto;
}

.swiper-container-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 4;
}

.swiper-container-img .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container-img .custom-pagination {
    position: absolute;
    left: 50%;
    bottom: 1.5em !important;
    z-index: 5;
}

.object__img,
.blog__img {
    width: 50%;
}

.object__img img,
.blog__img img {
    border-radius: 2.5em;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.objects__similar {
    padding-top: 2.8em;
}

.blogs__similar {
    padding-top: 8em;
}

@media (max-width: 768px) {

    .object__container,
    .blog__container {
        flex-direction: column-reverse;
        gap: 1.5em;
    }

    .object__content,
    .object__img,
    .blog__content,
    .blog__img {
        width: 100%;
    }

    .object__content,
    .blog__content {
        gap: 2em 1.5em;
    }

    .object__img img,
    .blog__img img {
        max-height: 300px;
    }
}

/* object end */

/* contacts */
.contacts .company__wrap {
    padding: 6em 0 8em 0;
}

#map {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    border-radius: 2.5em;
    overflow: hidden;
    margin-top: 18em;
    /* position: relative;
    z-index: 4; */
}

.ymaps-2-1-79-placemark-overlay {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}

/* .contacts__map {
    position: relative;
    z-index: 4;
} */

/* .contacts__information {
    display: flex;
    justify-content: space-between;
    width: 52em;
    position: absolute;
    z-index: 5;
    background: var(--white);
    border-radius: 2.5em;
    box-shadow: 0 4px 40px #0000002b;
    padding: 3.5em;
    gap: 2.3em;
    flex-wrap: wrap;
    top: 20em;
    left: 10em;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.contacts__info:last-child {
    flex-direction: row;
    gap: 2em;
}

.contacts__info svg {
    stroke: var(--red);
} */

/* contacts end */

/* footer */
footer {
    padding: 6.1em 0 1.7em 0;
    background: #9C2531;
    border-top-left-radius: 8em;
    border-top-right-radius: 8em;
}

.footer__wrap {
    display: flex;
    flex-direction: column;
    gap: 3.6em;
}

.footer__columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 6em;
}

@media (max-width: 930px) {
    .footer__column:first-child {
        width: 26em;
    }
}

@media (max-width: 800px) {
    .footer__columns {
        flex-direction: column;
        gap: 5em;
    }

    .footer__column {
        width: 100% !important;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__column .footer__row:last-child {
        width: 40em;
    }
}

@media (max-width: 665px) {
    footer {
        padding: 4em 0 1.7em 0;
        border-top-left-radius: 5em;
        border-top-right-radius: 5em;
    }

    .footer__column .footer__row {
        width: 100% !important;
    }

    .footer__column {
        gap: 3em;
    }
}

@media (max-width: 500px) {
    .footer__column {
        flex-direction: column;
    }
}

.footer__wrap .text-small {
    color: #E6E6E6;
}

.footer__wrap .text-main {
    color: var(--white);
    font-size: 2.4em;
}

@media (max-width: 665px) {
    .footer__wrap .text-main {
        font-size: 2em;
    }
}

.footer__row__info {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.1em;
    padding-top: .8em;
    border-top: 2px solid var(--red);
}

.footer__row__social {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer__row__links {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.footer__row__links svg {
    cursor: pointer;
    width: 4.5em;
    height: 4.5em;
}

.footer__row__links svg rect,
.footer__row__links svg path {
    transition: all 0.3s ease;
}

.footer__row__links svg:hover rect {
    fill: var(--red);
}

.footer__row__links svg.email:hover path {
    stroke: var(--white);
    fill: none;
}

.footer__row__links svg:hover path {
    fill: var(--white);
}

.footer__rows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.footer__rows .text-small {
    display: flex;
    align-items: center;
    gap: .6em;
}

/* footer end */